ul {
  word-spacing: 55px;
}
span {
  word-spacing: 35px;
}

.card-text {
  word-spacing: 173px;
}
.hours {
  word-spacing: 150px;
}
.temp {
  font-size: 30px;
}
.card {
  background: radial-gradient(
    circle at 7.4% 45.1%,
    rgb(236, 206, 251) 0%,
    rgb(205, 237, 246) 45.1%,
    rgb(227, 251, 252) 78.4%,
    rgb(230, 247, 235) 90%
  );
}
