ul {
  word-spacing: 55px;
}
span {
  word-spacing: 35px;
}

.card-text {
  word-spacing: 173px;
}
.hours {
  word-spacing: 150px;
}
.temp {
  font-size: 40px;
}
.card {
  background: radial-gradient(
    1224px at 10.6% 8.8%,
    rgb(255, 255, 255) 0%,
    rgb(153, 202, 251) 100.2%
  );
  margin: 0 auto;
}
.descrip {
  text-transform: capitalize;
}
.units {
  position: relative;
  font-size: 13px;
  top: -18px;
  text-decoration: none;
}
.source {
  text-decoration: none;
}
