ul {
  word-spacing: 90px;
}
span {
  word-spacing: 35px;
}

.temp {
  font-size: 50px;
}
.card {
  background: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);

  margin: 0 auto;
}
.descrip {
  text-transform: capitalize;
}
.units {
  position: relative;
  font-size: 13px;
  top: -25px;
  text-decoration: none;
}

.source {
  text-decoration: none;
}

#celsius-link {
  text-decoration: none;
}

.weather-forecast-date {
  font-size: 16px;
  color: #000;
  opacity: 0.5;
}
.weather-forecast-temp-max {
  font-size: 13px;
}
.weather-forecast-temp-min {
  font-size: 13px;
  opacity: 0.5;
}
.warp {
  word-spacing: 5px;
}
